<p>Controller Warnings</p>
<table>
  <tr>
    <th>Confidence</th>
    <th>Controller</th>
    <th>Warning Type</th>
    <th>Message</th>
  </tr>
<% warnings.each do |warning| %>
  <tr>
    <td><%= warning['Confidence']%></td>
    <td><%= warning['Controller']%></td>
    <td><%= warning['Warning Type']%></td>
    <td><%= warning['Message']%></td>
  </tr>
<% end %>
</table>