<h2>Templates</h2>

<% template_rows.each do |template| %>

<p><%= template[0] %></p>
<table>
  <tr>
    <th>Output</th>
  </tr>
  <% template[1].each do |call| %>
  <tr>
    <td><%= call %></td>
  </tr>
  <% end %>
</table>

<% end %>