<h1>Home#test_model</h1>
<p>Find me in app/views/home/test_model.html.erb</p>
Hello, <%= @name %>!

Very likely bad: <%= truncate User.profile %>

Bad for 2.x: <%= link_to User.first.name, "some_url" %>
