:sass
  #name
    border: 3px dashed orange
    color: #{raw @user.name}

%p#name
  %b Name:
  = @user.name
  = sanitize @user.bio, tags: ['style', :select]
  = Rails::Html::SafeListSanitizer.new.sanitize(@user.description, tags: ["select", "style"])

:coffeescript
  $('h1').click ->
  alert('You clicked on the headline')

:markdown
  # Jello!

:sass
  #div
    font-weight: bold
