= find_and_preserve do
  %pre
    :escaped
      <p class="input-container input-container-5">
        <label for="f1">Name</label>
        <input class="input" id="f1" placeholder=".input-container-5" type="text">
      </p>
      <p class="input-container input-container-10">
        <label for="f2">Address</label>
        <input class="input" id="f2" placeholder=".input-container-10" type="text">
      </p>
